@model DetailsVM
@{
    ViewData["Title"] = "Personagem";
    string Cor(string nome)
    {
        return Model.Elementos
            .Where(t => t.Nome == nome)
            .Select(t => t.Cor)
            .FirstOrDefault();
    }
}

        <section class="pt-5 container">
            <div class="row">
                <div class="col text-center">
                    @if (Model.Anterior != null)
                    {
                        <a asp-action="Details" asp-route-id="@Model.Anterior.Numero" class="btn btn-lg btn-outline-dark">
                            @Model.Anterior.Numero.ToString("00") - @Model.Anterior.Nome
                        </a>
                    }
                </div>
                <div class="col text-center">
                    <h1 class="fs-1">@Model.Atual.Nome
                        <span class="fs-2 text-secondary">Nº @Model.Atual.Numero.ToString("00")</span>
                    </h1>
            </div>
            <div class="col text-center">
                @if (Model.Proximo != null)
                {
                    <a asp-action="Details" asp-route-id="@Model.Proximo.Numero" class="btn btn-lg btn-outline-dark">
                        @Model.Proximo.Numero.ToString("00") - @Model.Proximo.Nome
                    </a>
                }
            </div>
            <div class="row mt-3">
                <div class="col-lg-5 p-0">
                    <img class="img-fluid cursor-pointer" src="@Model.Atual.Imagem" alt="@Model.Atual.Nome">
                </div>
                <div class="col-lg-7 fs-5 mt-4">
                    <p class="mb-3"><strong>Descrição:</strong> @Model.Atual.Descricao</p>
                    <p class="mb-3"><strong>Região:</strong> @Model.Atual.Regiao</p>
                    <p class="mb-3"><strong>Aniversário:</strong> @Model.Atual.Aniversario</p>
                    <p class="fw-bold">Elemento</p>
                    <div class="btn-group">
                        @foreach (var elemento in Model.Atual.Elemento)
                        {
                            <a href="#" class="btn btn-lg text-white" style="background-color:@Cor(elemento)">
                                @elemento
                            </a>
                        }
                    </div>
                </div>
            </div>
        </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <!-- <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script> -->